.header {
    align-items: center;
}

.thDiv {
    width: 90%;
    border: 1px solid black;
}

.table-header {
    width: 30%;
    border: 1px solid black;
    font-size: small;
    color: black
}

.table-data {
    width: 30%;
    border: 1px solid black;
    font-size: small;
    color: black;

}

.data-input {
    width: 70%;
    text-align: center;
    margin-left: 10%;
}