.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thDiv {
    width: 99%;
    border: 1px solid black;
}

.table-header {
    width: fit-content;
    border: 1px solid black;
    font-size: small;
    color: black
}

.table-data {
    width: fit-content;
    border: 1px solid black;
    font-size: small;
    color: black;
    align-items: center;
    justify-content: center;

}

.data-input {
    width: 70%;
    text-align: center;
    margin-left: 10%;
}